{% extends 'Base/BasePage.html' %}

{% load static %}

{% block content %}

                    <div class="content__profile">
                        <div class="content__profile-info">
                            <div class="content__profile-img">
                            </div>
                            <div class="profile-text">
                                <p class="profile-username">Name Surname</p>
                                <p class="profile-status">Status Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate minus dolor esse ullam molestias blanditiis corporis ut fugit voluptatibus quos?</p>
                            </div>
                        </div>
                    </div>
                    <div class="content__posts">
                        <div class="posts__wrapper">
                            <div class="post">
                                <h3>Some title <br><br></h3>
                                <p>kadshf ksbdgkbdskg bskhdbg kbrwk berkbg kebr kgbekrb gkebr bgekb rkbgk ebrgkb </p>
                            </div>
                            <div class="post">
                                <p>Post 2</p>
                            </div>
                            <div class="post">
                                <p>Post 3 <br><br><br><br></p>
                            </div>
                            <div class="post">
                                <p>Post 3 <br><br><br><br></p>
                            </div>
                            <div class="post">
                                <p>Post 3 <br><br><br><br></p>
                            </div>
                            <div class="post">
                                <p>Post 3 <br><br><br><br></p>
                            </div>
                            <div class="post">
                                <p>Post 3 <br><br><br><br></p>
                            </div>
                        </div>
                        <div class="sdu__info">
                            <ul>
                                <li>Student ID: <span>212121212</span></li>
                                <li>Full name: <span>Alyosha Popovich</span></li>
                                <li>Birth date: <span>12.12.2000</span></li>
                                <li>Faculty: <span>Engineering and Natural Science</span></li>
                                <li>Speciality: <span>Information System</span></li>
                                <li>Advisor: <span>Kuanyshbek Mamay</span></li>
                                <li>Email: <span>al.popov.2002@gmail.com</span></li>
                            </ul>
                        </div>
                    </div>

{% endblock %}
